










body{
    background-color: rgba(0, 255, 255, 0.274),url(img/pai\ do\ nathan.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
 
.sagae{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagaa{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagas{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagaw{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagat{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagam{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagai{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
 
.sagap{
    width: 850px;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    color: rgb(71, 72, 90);}
